// bower:scss
// endbower

body {
    margin: 0 auto;
}

.container{
	text-align: center;
}

@media screen and (min-width: 400px) {

    .container {
    	background: black;
    	color: red;
    	font-size: .5em;
    	border: 5px solid red;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 700px) {

    .container {
    	background: red;
    	color: black;
    	font-size: 1em;
    	border: 7px solid black;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1020px) {

    .container {
    	background: black;
    	color: red;
    	font-size: 1.5em;
    	border: 10px solid red;
        width: 80%;
        margin: 0 auto;
    }
}
